= semantic_form_for @message do |f|
  -if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg
  - f.inputs do
    = f.input :title
    = f.input :description
    = f.input :date
    = f.input :type
    = f.input :student_id, :as => :select, :collection => Student.all

  - f.buttons do
    = f.commit_button
