%h1 Listing messages

%table
  %tr
    %th{ :class => 'title' } Title
    %th{ :class => 'description' } Description
    %th{ :class => 'date' } Date
    %th{ :class => 'type' } Type
    %th{ :class => 'student' } Student
    %th{ :class => 'degree' } Degree
    %th
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.title
      %td= message.description
      %td= message.date
      %td= message.type
      %td= message.student
      %td= message.student.degree
      %td= link_to 'Show', message
      %td= link_to 'Edit', edit_message_path(message)
      %td= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Message', new_message_path
