%p#notice= notice

%h1= @message.title
%p= @message.description
%footer
  %ul
    %li Date:
    = @message.date
    %li Type:
    = @message.type
    %li Student:
    = @message.student

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
