%p#notice= notice

%p
  %b Title:
  = @missife.title
%p
  %b Message:
  = @missife.message
%p
  %b Date:
  = @missife.date
%p
  %b Type:
  = @missife.type

= link_to 'Edit', edit_missife_path(@missife)
\|
= link_to 'Back', missives_path
