%p#notice= notice

%p
  %b First name:
  = @student.first_name
%p
  %b Last name:
  = @student.last_name
%p
  %b Email:
  = @student.email
%p
  %b Bio:
  = @student.bio
%p
  %b Date:
  = @student.date
%p
  %b Degree:
  = @student.degree
-# - if current_student.admin?
%p
  %b Role:
  = @student.roles.to_sentence

= link_to 'Edit', edit_student_path(@student)
\|
= link_to 'Back', students_path
