%h1 Listing degrees

%table
  %tr
    %th Name
    %th Initials
    %th
    %th
    %th

  - @degrees.each do |degree|
    %tr
      %td= degree.name
      %td= degree.initials
      %td= link_to 'Show', degree
      %td= link_to 'Edit', edit_degree_path(degree)
      %td= link_to 'Destroy', degree, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Degree', new_degree_path
